centering(width)
  margin auto
  width width

*
    margin 0
    padding 0
    #logo
        padding-left 20px

#main_logo
    width 100%

#main_logo.index_page
    height 100vh
    width 100%

#company_infomation
    & > .address
        & > p
            text-align right

#lang_switch
    a
        display block
    list-style-type none
    li
        a
            padding 13px 5px 11px 25px

#main_titile
    padding 3em 0em
    picture
        & > img
            margin 1%
            max-width 98%
            height auto

.top_menu_label
    height 2.5em
    line-height 2.5em
    font-weight bold
    padding-left 20px
    padding-right 20px

.global_nav
    & > ul
        list-style-type none
    li
        a
            display block
            height 2.5em
            line-height 2.5em
            padding-left 20px
            padding-right 20px

.dropdown-content
    list-style none
    width 100%
    li
        a
            padding-left 40px

#bread
    ul
        list-style-type none
        padding 20px 10px
        li
            display block
            &:after
                content ">"
                padding 0px 10px
            &:last-child
                &:after
                    content ""

main
    h2
        line-height 2em
        padding-left 10px
    h3
        padding-left 10px
        line-height 1.5em
    & > div
        margin 10px
    li
        margin-left 20px
        line-height 1.5em
    table
        border-collapse collapse
    th
        padding 10px
        line-height 1.5em
    td
        padding 10px
        line-height 1.5em
    iframe,p,table,img
        margin 10px
    p
        word-wrap break-word
    img
        object-fit contain

#prerelease
    th
        border none
    td
        border none

#contact
    display table
    max-width 600px
    width 100%
    & > .address
        display table-cell
        width 40%
    & > .query_button
        display table-cell
        text-align center
        vertical-align middle
        width 60%

footer
    padding 10px 10px
    height 200px
    #copyright
        text-align center

@media screen and (max-width: 768px)
    .global_nav
        position absolute
        z-index 1000
    .top_menu
        height 100vh
    #main_titile
        & > h1
            align-items center
            text-align center

@media screen and (min-width: 769px)
    #main_logo
        display grid
        grid-template-rows auto auto auto
        grid-template-columns auto auto
        nav.global_nav
            grid-row 1/2
            grid-column 1/2
        #main_titile
            grid-row 2/3
            grid-column 1/2
        #bread
            grid-row 3/4
            grid-column 1/2
    #company_infomation
        centering(95%)
        display flex
        flex-direction row
        height 100px
        div
            flex 1
        align-items center
        justify-content center
    #main_titile
        centering(95%)
        text-align right
    #topics
        & > div
            margin-bottom 10px
    .top_menu_label
        display none
    .global_nav
        & > ul
            centering(95%)
            display flex
            flex-direction row
            padding-left 10px
            padding-right 10px
            & > li
                display block
                flex 1
                text-align: center
        li
            a
                padding-left 0px
    .dropdown-parent
        position relative
        display block
    .dropdown-content
        position absolute
        li
            a
                padding-left 0px
				display block
    #bread
        ul
            display flex
            flex-direction row
    main
        centering(95%)
        min-height 50vh
    #infomation
        & > div
            margin-top 10px
    #thumbnail
        display flex
        flex-wrap wrap
    #topics
        display flex
        flex-wrap wrap
        & > div
            width calc(33.3% - 10px)
            min-height 50px
            & > img
                float: left
    #lang_switch
        centering(95%)
        display flex
        flex-direction row
